@font-face {
  font-family: 'Friz Quadrata Std Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Friz Quadrata Std Italic'), url('./font/friz-quadrata-std-cufonfonts-webfont/friz-quadrata-std-italic-587033b2c95df.woff') format('woff');
  }
@font-face {
  font-family: 'Friz Quadrata Std Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Friz Quadrata Std Medium'), url('./font/friz-quadrata-std-cufonfonts-webfont/friz-quadrata-std-medium-5870338ec7ef8.woff') format('woff');
}
@font-face {
  font-family: 'Friz Quadrata Std Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Friz Quadrata Std Bold'), url('./font/friz-quadrata-std-cufonfonts-webfont/friz-quadrata-std-bold-587034a220f9f.woff') format('woff');
}
@font-face {
  font-family: 'Friz Quadrata Std Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Friz Quadrata Std Bold Italic'), url('./font/friz-quadrata-std-cufonfonts-webfont/friz-quadrata-std-italic-587033b2c95df.woff') format('woff');
}
html{
  font-family: 'Friz Quadrata Std Medium';
}
#headercontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#navigationlist{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
#navigationlist h3,#navigationlist li{
  text-align: center;
}
#navigationlist a{ 
  flex: 1;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
#navigationlist a:hover{
  color:rgb(200, 38, 38);
  text-decoration: underline;
}
#navigationlist a:active{
  color: aqua;
}
#titlecontainer{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}
#picturecontainer{
  display: flex;
  justify-content: center;
}
#profilepic{
  margin: 0 10px;
  max-width: 100%;
  height: 20%;
  object-fit: contain;
}
#achipic{
  margin: 0 10px;
  max-width: 100%;
  height: 20%;
  object-fit: contain;
}
#paragrafcontainer{
  display: flex;
}
